html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100.01%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul { list-style: none }
blockquote, q {quotes: none}
:focus { outline: 0}
ins {text-decoration: none}
del {text-decoration: line-through}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
body {
    color: #222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-md-2 {width: 40%;}
#row{
    margin:5px 0;
}
.map {
    height: 600px;
    width: 100%;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-xs, .btn-group-xs > .btn {
    border-radius: 0;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
}
.btn-primary {
    background-color: #008cba;
    border-color: #0079a1;
    color: #ffffff;
}
.btn-danger {
    background-color: #f04124;
    border-color: #ea2f10;
    color: #ffffff;
}
.btn-xs {
    padding: 4px;
}
.bold { font-weight: bold; }
.center { text-align: center; }
.right { text-align: right; padding-right:2px; }
#abs{
    position:absolute;
    width:350px;
    height:350px;
    z-index:9999;
    right:10px;
    top:60px;
    border:1px solid #000;
}
#uf-info{
    position:relative;
    width:95%;
    height:150px;
    margin:90px 2px 0 10px;
    color:#fff;
    background-color:#222;
    font-size: 8pt;
}
#uf-info table { border-collapse: collapse; width:100%; }
#uf-info th, #uf-info td { padding: 3px; }
#uf-info .tr_odd{ background-color: #BABDB6; color: #000;}